
.homepage {
    position: relative;
    height: 100vh;
    background-image: url('https://i.pinimg.com/736x/99/00/1c/99001c0eb4ce5e0167278b0305e13ea5.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
  }
  
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5); 
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .homepage-header {
    z-index: 1;
    max-width: 600px;
  }
  
  .cta-button {
    padding: 10px 20px;
    margin-top: 20px;
    background-color: #61dafb;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .cta-button:hover {
    background-color: #21a1f1;
  }
  